<%- include('../comunes/cabecera') %>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<div class='container'>
    <!--  !== ! = =      -->
    <% const existeMensaje = typeof datos.mensaje !== 'undefined'%>
    <% if(existeMensaje){%>
        <div class="alert alert-danger" role="alert">
            <%= datos.mensaje%>
        </div>
    <%}%>

<h1>Lista</h1>
    <form action='/ropa/lista-ropa' method='get'>
        <div class="mb-3">
            <label for="busqueda" class="form-label">
                Busqueda
            </label>
            <!-- Viajar como parametro de consulta con el name (en este caso busqueda)    -->
            <input placeholder="Ej: Pantalon"
                   type="text"
                   name="busqueda"
                   class="form-control"
                   id="busqueda"
                   aria-describedby="ayudaBusqueda">
            <div id="ayudaBusqueda" class="form-text">
                Puede buscar por marca o tipo de ropa.
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Buscar</button>
    </form>
    <div>
        <a href='/ropa/vista-crear'>
            <button class='btn btn-success'>
                Ingresar ropa
            </button>
        </a>
    </div>
    <div>
        <a href='/ropa/vista-editar'>
            <button class='btn btn-success'>
                Editar ropa
            </button>
        </a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo de Ropa</th>
            <th scope="col">Talla</th>
            <th scope="col">Marca</th>
            <th scope="col">Sexo</th>
            <th scope="col">Color</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col">Fecha</th>
        </tr>
        </thead>

        <tbody>
        <% datos.ropa.forEach( (objeto) => { %>
        <tr>
            <th><%= objeto.id %></th>
            <th><%= objeto.tipoRopa %></th>
            <th><%= objeto.talla %></th>
            <th><%= objeto.marca %></th>
            <th><%= objeto.sexo %></th>
            <th><%= objeto.color %></th>
            <th><%= objeto.precio %></th>
            <th><%= objeto.stock %></th>
            <th><%= objeto.fecha %></th>

            <th>
                <form   action='/ropa/eliminar-ropa/<%= objeto.id %>'
                        method='post'>
                    <button class='btn btn-danger'>Eliminar</button>
                </form>
            </th>

        </tr>
        <% } ) %>
        </tbody>

    </table>
</div>
<%- include('../comunes/footer') %>